.navbar-brand {
    font-size: 1.4rem;
    color: #007bff !important;
}

.nav-link {
    font-weight: 500;
    margin-left: 15px;
    transition: 0.2s;
}

.nav-link:hover {
    color: #007bff !important;
}
